<div class="container header-bottom">
    <div class="row">
        <div class="col-3" style="background-color: #2c55a5;">
            <div class="sticky">
                <h4 class="mb-3">Sắp xếp theo</h4>
                <ul class="sort">
                    <li class="d-flex" (click)="sortprice='BAN_CHAY';sortname='';load()">
                        <span>Bán chạy</span>
                    </li>
                    <li class="d-flex" (click)="sortname='NAME_ASC';sortprice='';load()">
                        <span>Tên tăng</span>
                        <i class="fa fa-sort-alpha-asc" [ngStyle]="{'opacity': sortname == 'NAME_ASC' ? '1' : '0.4'}"></i>
                    </li>
                    <li class="d-flex" (click)="sortname='NAME_DESC';sortprice='';load()">
                        <span>Tên giảm</span>
                        <i class="fa fa-sort-alpha-desc" [ngStyle]="{'opacity': sortname == 'NAME_DESC' ? '1' : '0.4'}"></i>
                    </li>
                    <li class="d-flex" (click)="sortprice='PRICE_ASC';sortname='';load()">
                        <span>Giá tăng</span>
                        <i class="fa fa-sort-amount-asc" [ngStyle]="{'opacity': sortprice == 'PRICE_ASC' ? '1' : '0.4'}"></i>
                    </li>
                    <li class="d-flex" (click)="sortprice='PRICE_DESC';sortname='';load()">
                        <span>Giá giảm</span>
                        <i class="fa fa-sort-amount-desc" [ngStyle]="{'opacity': sortprice == 'PRICE_DESC' ? '1' : '0.4'}"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="row items">
                <ng-container *ngFor="let item of dataSource.items">
                    <div class="col-3 item">
                        <div class="image">
                            <img [src]="url.URL_IMAGE + item.ImageMain" style="width: 100%">
                        </div>
                        <div class="title">
                            <span>{{item.ProductName}}</span>
                        </div>
                        <div class="price">
                            <!-- <small style="text-decoration: line-through;">{{item.Price | number}}</small> -->
                            <strong class="text-danger">{{item.Price | number}}</strong>
                        </div>
                        <div class="mb-2">
                            <span *ngIf="item.LuongTon > 0" class="font-italic">Số lượng: {{item.LuongTon}}</span>
                            <div *ngIf="item.LuongTon <= 0" class="alert alert-warning">Hàng sắp về</div>
                        </div>
                        <div *ngIf="item.LuongTon > 0" class="shopping" (click)="openModalCart(templateCart, item)">
                            <span class="text-uppercase"><i class="fa fa-shopping-cart"></i> Mua ngay</span>
                        </div>
                    </div>
                </ng-container>
            </div>
            <hr>
            <nav>
                <ul class="pagination" style="justify-content: center;">
                    <li class="page-item" [ngClass]="{'disabled': dataSource.Page == 1}" title="Trang đầu" (click)="onClickPaging(1)" style="cursor: pointer;">
                        <span class="page-link"><i class="fa fa-angle-double-left"></i></span>
                    </li>
                    <li class="page-item active" [ngClass]="{'active': dataSource.Page == item}" *ngFor="let item of listNumberPaging; let index = index" (click)="onClickPaging(item)" style="cursor: pointer;">
                        <span class="page-link" href="#">{{item}}</span>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled': dataSource.Page == totalPage}" (click)="onClickPaging(totalPage)" style="cursor: pointer;">
                        <span class="page-link" href="#" title="Trang cuối"><i class="fa fa-angle-double-right"></i></span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<ng-template #templateCart>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Giỏ hàng</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefCart.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <table class="table-custom table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Ảnh</th>
                    <th>Tên sách</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th style="width: 90px">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listProductInCart; let index = index">
                    <td><img width="40" [src]="url.URL_IMAGE + item.ImageMain"></td>
                    <td>{{item.ProductName}}</td>
                    <td>
                        <div class="d-flex" style="justify-content: center;">
                            <button class="btn btn-sm btn-outline-danger" (click)="clickChangeQuantity(item, 'MINUS')"><i class="fa fa-minus"></i></button>
                            <input type="number" class="input-table" name="quantity--{{index}}" [(ngModel)]="item.Quantity" (change)="changeQuantity($event, item)" style="width: 40px;text-align: center;">
                            <button class="btn btn-sm btn-outline-primary" (click)="clickChangeQuantity(item, 'PLUS')"><i class="fa fa-plus"></i></button>
                        </div>
                    </td>
                    <td>{{item.Price * item.Quantity | number}}đ</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" (click)="deleteItem(item)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right"><strong>Tạm tính:</strong> {{totalMoney | number}}đ</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="text-right">
            <button class="btn btn-primary" (click)="modalRefCart.hide()">Tiếp tục mua hàng</button>
            <a *ngIf="listProductInCart.length > 0" href="/thanh-toan" class="btn btn-danger" style="color: white;text-decoration: none;">Thanh toán</a>
        </div>
    </div>
</ng-template>