// Here you can add other styles
.sidebar {
    .nav-dropdown.open {
        .nav-dropdown-items {
            .nav-link {
                padding-left: 2rem;
            }
        }
    }
}

.header-title {
    margin-bottom: 2rem;
}

.required {
    &::after {
        content: ' (*)';
        color: $color-danger;
    }
}

.img-avatar {
    height: 35px;
    margin: 0 10px;
    width: 35px;
    object-fit: cover;
}

.table-custom {
    thead {
        tr {
            th {
                text-align: center;
            }
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
            }
        }
    }
}

.wrapper {
    background-color: white;
    .header-top {
        ul {
            list-style-type: none;
            text-align: right;
            li {
                display: inline;
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }
    .header-center {
        align-items: center;
    }
    .header-bottom {
        ul {
            list-style-type: none;
            text-align: right;
            li {
                display: inline;
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }
}

.line-full {
    width: 100%;
    height: 2px;
    background-color: #cbcbcb;
    margin: 1rem 0;
}

ul {
    list-style-type: none;
}

.menu {
    width: 250px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    padding: 0 0 0 4px;
    margin: 0;
    background-color: #227087;
}

.menu a,
.menu a:link,
.menu a:visited,
.menu a:focus,
span {
    // color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #227087;
    text-decoration: none;
}

.menu>li {
    display: block;
    text-align: center;
    margin-left: -4px;
    // border-left: 1px solid rgba(255, 255, 255, 0.11);
    // box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}

.menu>li>a {
    padding: 20px 18px;
    display: block;
}

.menu>li:hover>a {
    color: #9d9d9d;
}

.menu>li:hover {
    background-color: #fff;
}


/* Megadrop width dropdown */

.menu>li>.megadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 0px;
    left: 250px;
    width: 800px;
    min-height: 100%;
    text-align: left;
    margin-top: 30px;
    padding: 0;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-top: 2px solid #227087;
    border-right: 2px solid #227087;
    border-bottom: 2px solid #227087;
    background-color: white;
}

.menu>li:hover .megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.menu ul li:hover:after {
    color: #227087;
}

.menu .col {
    float: left;
    color: white;
    margin: 0 0 0 2.2%;
}

.menu .col ul {
    padding: 0;
    margin: 0;
}

.menu .col ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}

.menu .col h3 {
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: #227087;
    background: #eee;
}

.menu .col ul li a {
    display: block;
    padding: 0;
    color: #227087;
}

.menu .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}

.menu>li>ul li ul,
.menu li>ul li,
.menu>li>.megadrop,
.menu>li>ul,
.menu>li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}

//---- product
.title-product {
    border-bottom: 1px solid #6e6e6e;
}

.items {
    .item {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        span {
            color: black;
        }
        .title,
        .price {
            margin-bottom: 5px;
        }
        .shopping {
            background-color: #a41400;
            padding: 5px 0;
            text-align: center;
            visibility: hidden;
            cursor: pointer;
            span {
                color: white;
            }
        }
        &:hover {
            background: #e6e6e6;
            .shopping {
                visibility: visible;
            }
        }
    }
}

.items-box {
    display: flex;
    .menu {
        max-height: 470px;
        li {
            a {
                text-align: left;
                padding: 5px 15px;
            }
        }
    }
}

.product {
    flex: 1;
    margin-left: 20px;
}


/* width */

::-webkit-scrollbar {
    width: 4px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

//---- product
.footer {
    padding: 2rem 0;
    background: #2c55a5;
    &-left {
        padding: 0 1rem 0 0;
        flex: 1;
        a:hover {
            text-decoration: none;
        }
        ul {
            padding: 0;
        }
    }
    &-center {
        flex: 1;
        color: white;
        ul {
            padding: 0;
        }
    }
    &-right {
        flex: 1;
    }
}

#gmap_canvas {
    width: 100%;
    height: 300px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 300px;
    width: 100%;
}

.image {
    position: relative;
    border: 1px solid;
    .btn-delete {
        position: absolute;
        top: -20px;
        right: -7px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .display-image {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
}

.upload-contain {
    position: relative;
    display: flex;
}

.upload--delete {
    position: absolute;
    top: 7px;
    left: 120px;
    color: #f86c6b;
    font-size: 1.5rem;
    z-index: 999;
    cursor: pointer;
    &:hover {
        font-size: 1.7rem;
    }
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
    height: 150px;
    width: 150px;
    border: 5px solid #000;
    overflow: hidden;
    .upload-display {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 1;
}

.hoverable:hover .hover-text {
    display: block;
}

.hoverable:hover .background {
    display: block;
}

#fileInput1 {
    display: none;
}