<div class="container header-bottom">
    <div class="d-flex">
        <div style="width: 250px">
            <h4 class="text-uppercase"><i class="fa fa-align-justify"></i> Danh mục</h4>
        </div>
        <div style="flex: 1">
            <ul>
                <li class="col-4">
                    <span>Sách mới</span>
                </li>
                <li class="col-4">
                    <span>Sách bán chạy</span>
                </li>
                <li class="col-4">
                    <span>Sách khuyến mãi</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="items-box">
        <ul class="menu">
            <li *ngFor="let item of listCategory; let index = index">
                <a href="#" class="text-uppercase text-white">{{item.Name}}</a>
                <div class="megadrop">
                    <div class="col">
                        <!-- <h3>Title</h3> -->
                        <ul>
                            <li *ngFor="let detail of item.value">
                                <a href="/sach-theo-danh-muc/{{detail.Id}}">{{detail.Name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <div class="product">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-uppercase title-product">Sách mới</h4>
                </div>
                <div class="col-12">
                    <div class="row items">
                        <ng-container *ngFor="let item of dataSource">
                            <div class="col-3 item">
                                <div class="image">
                                    <img [src]="url.URL_IMAGE + item.ImageMain" style="width: 100%">
                                </div>
                                <div class="title">
                                    <span>{{item.ProductName}}</span>
                                </div>
                                <div class="price">
                                    <!-- <small style="text-decoration: line-through;">{{item.Price | number}}</small> -->
                                    <strong class="text-danger">{{item.Price | number}}</strong>
                                </div>
                                <div class="mb-2">
                                    <span *ngIf="item.LuongTon > 0" class="font-italic">Số lượng: {{item.LuongTon}}</span>
                                    <div *ngIf="item.LuongTon <= 0" class="alert alert-warning">Hàng sắp về</div>
                                </div>
                                <div *ngIf="item.LuongTon > 0" class="shopping" (click)="openModalCart(templateCart, item)">
                                    <span class="text-uppercase"><i class="fa fa-shopping-cart"></i> Mua ngay</span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="items-box">
        <div class="product" style="margin: 1.4rem 0 0 0">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-uppercase title-product">Sách thiếu nhi</h4>
                </div>
                <div class="col-12">
                    <div class="row items">
                        <ng-container *ngFor="let item of dataSourceTN">
                            <div class="col-3 item">
                                <div class="image">
                                    <img [src]="url.URL_IMAGE + item.ImageMain" style="width: 100%">
                                </div>
                                <div class="title">
                                    <span>{{item.ProductName}}</span>
                                </div>
                                <div class="price">
                                    <!-- <small style="text-decoration: line-through;">{{item.Price | number}}</small> -->
                                    <strong class="text-danger">{{item.Price | number}}</strong>
                                </div>
                                <div class="mb-2">
                                    <span *ngIf="item.LuongTon > 0" class="font-italic">Số lượng: {{item.LuongTon}}</span>
                                    <div *ngIf="item.LuongTon <= 0" class="alert alert-warning">Hàng sắp về</div>
                                </div>
                                <div *ngIf="item.LuongTon > 0" class="shopping" (click)="openModalCart(templateCart, item)">
                                    <span class="text-uppercase"><i class="fa fa-shopping-cart"></i> Mua ngay</span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="items-box">
        <div class="product" style="margin: 1.4rem 0 0 0">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-uppercase title-product">Sách mới</h4>
                </div>
                <div class="col-12">
                    <div class="row items">
                        <ng-container *ngFor="let item of dataSourceBC">
                            <div class="col-3 item">
                                <div class="image">
                                    <img [src]="url.URL_IMAGE + item.ImageMain" style="width: 100%">
                                </div>
                                <div class="title">
                                    <span>{{item.ProductName}}</span>
                                </div>
                                <div class="price">
                                    <!-- <small style="text-decoration: line-through;">{{item.Price | number}}</small> -->
                                    <strong class="text-danger">{{item.Price | number}}</strong>
                                </div>
                                <div class="mb-2">
                                    <span *ngIf="item.LuongTon > 0" class="font-italic">Số lượng: {{item.LuongTon}}</span>
                                    <div *ngIf="item.LuongTon <= 0" class="alert alert-warning">Hàng sắp về</div>
                                </div>
                                <div *ngIf="item.LuongTon > 0" class="shopping" (click)="openModalCart(templateCart, item)">
                                    <span class="text-uppercase"><i class="fa fa-shopping-cart"></i> Mua ngay</span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #templateCart>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Giỏ hàng</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefCart.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <table class="table-custom table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Ảnh</th>
                    <th>Tên sách</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th style="width: 90px">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listProductInCart; let index = index">
                    <td><img width="40" [src]="url.URL_IMAGE + item.ImageMain"></td>
                    <td>{{item.ProductName}}</td>
                    <td>
                        <div class="d-flex" style="justify-content: center;">
                            <button class="btn btn-sm btn-outline-danger" (click)="clickChangeQuantity(item, 'MINUS')"><i class="fa fa-minus"></i></button>
                            <input type="number" class="input-table" name="quantity--{{index}}" [(ngModel)]="item.Quantity" (change)="changeQuantity($event, null)" style="width: 40px;text-align: center;">
                            <button class="btn btn-sm btn-outline-primary" (click)="clickChangeQuantity(item, 'PLUS')"><i class="fa fa-plus"></i></button>
                        </div>
                    </td>
                    <td>{{item.Price * item.Quantity | number}}đ</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" (click)="deleteItem(item)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right"><strong>Tạm tính:</strong> {{totalMoney | number}}đ</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="text-right">
            <button class="btn btn-primary" (click)="modalRefCart.hide()">Tiếp tục mua hàng</button>
            <a href="/thanh-toan" class="btn btn-danger" style="color: white;text-decoration: none;">Thanh toán</a>
        </div>
    </div>
</ng-template>