<div class="row">
    <div class="form-group col-3">
        <label class="form-label">Ngày từ</label>
        <div>
            <input class="form-control" id="ngaytu" [max]="NgayDen" type="date" [(ngModel)]="NgayTu" (change)="filter()" placeholder="Ngày từ">
        </div>
    </div>
    <div class="form-group col-3">
        <label class="form-label">Ngày đến</label>
        <div>
            <input class="form-control" id="ngayden" [min]="NgayTu" type="date" [(ngModel)]="NgayDen" (change)="filter()" placeholder="Ngày đến">
        </div>
    </div>
    <div class="form-group col-3">
        <label class="form-label">Trạng thái</label>
        <div>
            <select class="form-control" [(ngModel)]="status" (change)="filter()">
                <option value="">Chọn trạng thái</option>
                <option *ngFor="let category of statusArr" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>
    </div>
</div>

<!-- <div class="mb-2 row">
    <div class="col-12 text-right">
        <a routerLink="/admin/tai-khoan/them-moi" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm mới</a>
    </div>
</div> -->

<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Danh sách sách
    </div>
    <div class="card-body">
        <table class="table-custom table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Ngày tạo</th>
                    <th>Người đặt</th>
                    <th>Người nhận</th>
                    <th>Địa chỉ nhận</th>
                    <th>SĐT nhận</th>
                    <th>Trạng thái</th>
                    <th style="width: 120px">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataSource.items; let index = index">
                    <td>{{item.OrderDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{item.ShipName}}</td>
                    <td>{{item.ShipName}}</td>
                    <td>{{item.ShipAddress}}</td>
                    <td>{{item.ShipPhoneNumber}}</td>
                    <td>{{statusArr[item.Status]['name']}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary" (click)="openModalEdit(templateEdit, item)"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-sm btn-danger" (click)="openModalDelete(templateDelete, item)"><i class="fa fa-ban"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled': dataSource.Page == 1}" title="Trang đầu" (click)="onClickPaging(1)" style="cursor: pointer;">
                    <span class="page-link"><i class="fa fa-angle-double-left"></i></span>
                </li>
                <li class="page-item active" [ngClass]="{'active': dataSource.Page == item}" *ngFor="let item of listNumberPaging; let index = index" (click)="onClickPaging(item)" style="cursor: pointer;">
                    <span class="page-link" href="#">{{item}}</span>
                </li>
                <li class="page-item" [ngClass]="{'disabled': dataSource.Page == totalPage}" (click)="onClickPaging(totalPage)" style="cursor: pointer;">
                    <span class="page-link" href="#" title="Trang cuối"><i class="fa fa-angle-double-right"></i></span>
                </li>
            </ul>
        </nav>
    </div>
</div>


<ng-template #templateEdit>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Thay đổi trạng thái</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefEdit.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <ul class="col-12 status-box">
                <li (click)="saveChangeSatatus(0)" class="status" [ngClass]="{'active': itemSelected.Status >= 0 && itemSelected.Status != 4}">
                    <span class="status-item">1</span> Chờ xác nhận
                </li>
                <li (click)="saveChangeSatatus(1)" class="status" [ngClass]="{'active': itemSelected.Status >= 1 && itemSelected.Status != 4}">
                    <span class="status-item">2</span> Xác nhận
                </li>
                <li (click)="saveChangeSatatus(2)" class="status" [ngClass]="{'active': itemSelected.Status >= 2 && itemSelected.Status != 4}">
                    <span class="status-item">3</span> Đang giao
                </li>
                <li (click)="saveChangeSatatus(3)" class="status" [ngClass]="{'active': itemSelected.Status >= 3 && itemSelected.Status != 4}">
                    <span class="status-item">4</span> Hoàn thành
                </li>
                <li (click)="saveChangeSatatus(5)" class="status" [ngClass]="{'active': itemSelected.Status >= 5 && itemSelected.Status != 4}">
                    <span class="status-item">5</span> Hủy
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right">
            <button class="btn btn-light" (click)="closeChangeStatus()">Hủy</button>
        </div>
    </div>
</ng-template>

<ng-template #templateDelete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Hủy đơn hàng</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDelete.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Chọn xác nhận để hủy
    </div>
    <div class="modal-footer">
        <div class="text-right">
            <button class="btn btn-primary" (click)="saveChangeSatatus(5)">Xác nhận</button>
            <button class="btn btn-light" (click)="modalRefDelete.hide()">Hủy</button>
        </div>
    </div>
</ng-template>